<div>
    <img src="/assets/flag.jpg" alt="Cinque Terre" width="100" height="100" style="margin-left: 45%;margin-top:10%">
</div>
<div>
    <p style="font-size: 10vh;margin-left: 45%;margin-top: 3%;">Team Mission</p>
</div>
<div>
    <p style="font-size: 5vh;margin-left: 52%;margin-top: 3%;"><i class="fa fa-compass" aria-hidden="true"
            style="margin-right: 1%;"></i> Mission</p>
</div>
<div>
    <div class="col-lg-6 mb-4 " style="margin-left: 35%;">
        <div class="card">
            <div class="card-body" style=" background-color: darkgray;">
                <p class="card-text">
                    <i class="fa fa-lightbulb-o" aria-hidden="true" style="margin-right: 2%;"></i>Tip: A good mission
                    statement is quick, short, and sticks in people's brains.
                    What purpose are you working toward every day? Here's an example we love from Apple.
                </p>
            </div>
        </div>
    </div>
  
    <div>
        <div class="form-outline" style="margin-left: 35%;">
            <input type="text" id="typeText" class="form-control-plaintext" placeholder="Text Area" />
            <label class="form-label" for="typeText"></label>
        </div>
    </div>
    <div>
        <p style="margin-left: 35%;" contenteditable="true">To make a contribution to the world by making tools for the
            mind that advance humankind.</p>
    </div>
</div>
<div>
    <p style="font-size: 5vh;margin-left: 52%;margin-top: 3%;"><i class="fa fa-binoculars" aria-hidden="true"
            style="margin-right: 1%;"></i> Vision</p>
</div>
<div>
    <div class="col-lg-6 mb-4 " style="margin-left: 35%;">
        <div class="card">
            <div class="card-body" style=" background-color: darkgray;">
                <p class="card-text">
                    <i class="fa fa-lightbulb-o" aria-hidden="true" style="margin-right: 2%;"></i> Tip: A vision
                    statement expresses the long-term aspiration of a company.
                    What change do they want to make in the world? Here's Amazon's first version.
                </p>
            </div>
        </div>
    </div>
  
</div>
<div>
    <div class="form-outline" style="margin-left: 35%;">
        <input type="text" id="typeText" class="form-control-plaintext" placeholder="Text Area" />
        <label class="form-label" for="typeText"></label>
    </div>
    <div>
        <p style="margin-left: 35%;" contenteditable="true">Our vision is to be earth's most customer-centric company; to
            build a place where
            people can</p>
        <p style="margin-left: 35%;" contenteditable="true">come to find and discovery anything they want to buy online.</p>
        </div>
</div>
<div>
    <p style="font-size: 5vh;margin-left: 52%;margin-top: 3%;"><i class="fa fa-balance-scale" aria-hidden="true"
            style="margin-right: 1%;"></i> Vaules</p>
</div>
<div>
    <div class="col-lg-6 mb-4 " style="margin-left: 35%;">
        <div class="card">
            <div class="card-body" style=" background-color: darkgray;">
                <p class="card-text">
                    <i class="fa fa-lightbulb-o" aria-hidden="true" style="margin-right: 2%;"></i> Tip: It's great to
                    have a set of qualities that define the way you want to work.
                    Here's an example we like from the good folks at Stripe.
                </p>
            </div>
        </div>
    </div>
    <div>
        <div class="form-outline" style="margin-left: 35%;">
            <input type="text" id="typeText" class="form-control-plaintext" placeholder="Text Area" />
            <label class="form-label" for="typeText"></label>
        </div>
    </div>
</div>