<body style=" background-image: url('/assets/bg.jpg');
height: 170vh;">
<div style="font-size: 90px">
    <i class="fa fa-star" aria-hidden="true" style="margin-left: 45%;margin-top:10% ; color: yellow; size: 30%;"></i>
</div>
<div>
    <p style="font-size: 10vh;margin-left: 45%;margin-top: 3%;">What's New</p>
</div>
<div>
    <div class="col-lg-6 mb-4 " style="margin-left: 35%;">
        <div class="card">
            <div class="card-body" style=" background-color: darkgray;">
                <p class="card-text">
                    <i class="fa fa-lightbulb-o" aria-hidden="true" style="margin-right: 2%;"></i>Tip: Collect team
                    announcements and news in one place so that everyone can access them.
                    A handy way to reinforce a culture of transparency and communication.
                </p>
            </div>
        </div>
    </div>
</div>
<div>
    <p style="font-size: 5vh;margin-left: 52%;margin-top: 3%;"> Announcements</p>
</div>
<div>
    <p style="margin-left: 35%;" contenteditable="true" placeholder="Type '/' for commands"></p>
</div>
<div>
    <p style="font-size: 5vh;margin-left: 52%;margin-top: 3%;">All Hands Notes</p>
</div>
<div>
    <p style="margin-left: 35%;" contenteditable="true" aria-placeholder="Type '/' for commands"></p>
</div>
</body>