<div class="main">
    <body style=" background-color: blanchedalmond;
    margin-top: 3%; height: 30vh; width: 200%;margin-left: -2%;">
    </body>
  </div>
  <div style="margin-left: 23%;">
    <body style="margin-top: 2%;margin-bottom: 3%;" class="bg-transparent">
      <i  class=" material-icons w3-jumbo fa fa-home ">
        <h1 style="margin-top:5%" >Team Home</h1>
      </i>
    </body>
  </div>
  <div style="margin-top: 5%; margin-left:23%">
    <h3>Team</h3>
    <ul style="font-size: x-large; font-style: italic; cursor: pointer; "><i class="fa fa-star" aria-hidden="true"
        style="margin-right: 2%;"></i><a routerLink="whats" style="color: black;">What's New</a></ul>
    <ul style="font-size: x-large;font-style: italic; cursor: pointer;"><i class="fa fa-flag" aria-hidden="true"
        style="margin-right: 2%;"></i><a routerLink="teammission" style="color: black;">Team Mission</a></ul>
    <ul style="font-size: x-large; font-style: italic; cursor: pointer;"><i class="fa fa-car" aria-hidden="true"
        style="margin-right: 2%;"></i><a routerLink="teamobj" style="color: black;">Team Objectives</a></ul>
  </div>
