<div>
    <img src="/assets/car.jpg" alt="Cinque Terre" width="220" height="100" style="margin-left: 45%;margin-top:10%">
</div>
<div>
    <p style="font-size: 10vh;margin-left: 45%;margin-top: 3%;">Team Objectives</p>
</div>
<div>
    <p style="font-size: 5vh;margin-left: 52%;margin-top: 3%;"><i class="fa fa-compass" aria-hidden="true"
            style="margin-right: 1%;"></i> Mission</p>
</div>
<div>
    <div class="col-lg-6 mb-4 " style="margin-left: 35%;">
        <div class="card">
            <div class="card-body" style=" background-color: darkgray;">
                <p class="card-text">
                    <i class="fa fa-lightbulb-o" aria-hidden="true" style="margin-right: 2%;"></i>Tip: Keep your
                    company-wide goals somewhere central so everyone can see how their work connects and how much
                    progress is being made.
                    Here's some example content to get your started:
                </p>
            </div>
        </div>
    </div>
    <div>
        <div class="form-outline" style="margin-left: 35%;">
            <input type="text" id="typeText" class="form-control-plaintext" placeholder="Text Area" />
            <label class="form-label" for="typeText"></label>
        </div>
    </div>
</div>